<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="css/checkout.css" id="style"/>
    <script type="text/javascript" src="js/checkout.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<button class="button" onclick="gobackhome()">Go Back To HomePage</button>
<h1 style="text-align:center; font-weight:bold">Check Out Page</h1>
<div id="content">
    <table>
        <caption></caption>
        <thead>
        <tr>
            <th colspan="4">Phone</th>
            <th colspan="1">Price($)</th>
            <th colspan="1">Number</th>
            <th colspan="1">Total Price($)</th>
            <th colspan="1"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<br/>
<h2 id="total_price" style="font-weight: bold;font-style:italic;"></h2>
<button class="button" onclick="calculate()">Check Out Now</button>
</body>
</html>