<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX.test</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body id='body'>
<script src="js/login.js"></script>
<div class="body">
    <div class="middlecontainer" id = "middlecontainer">
        <div class="login">

            <h1>WELCOME TO LOG IN</h1>
            <form action="/login.do" method="post">
                E-mail: <input name="email" type="text"placeholder="Email"><br>
                Password: <input name="password" type="password"  placeholder="Password"><br>
                <button>Submit</button>
                <a href="sign_up.html">Want To Create An Account? </a>
            </form>
            <!--            <a href="index.html">Return to index page.</a><br>-->
            <a href="sign_up.html">Sign Up</a>
            <br><a href="/main">Return to Main Page</a>
        </div>
    </div>
</div>

</div>

</body>
</html>