<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX.test</title>
    <link rel="stylesheet" href = "css/sign_up.css">
</head>
<body>
<script src="js/sign_up.js"></script>


<div class="body">
    <div class="middlecontainer">
        <div class="signup">
            <h1>Sign Up</h1>
            <form action="/signup.do" method="post">
                 <input name="firstName" type="text" placeholder="FirstName"><br>
                <input name="lastName" type="text"placeholder="LasttName"><br>
                 <input name="email" type="text" placeholder="Email"><br>
                 <input name="password" type="password" placeholder="Password"><br>
                <button>Submit</button>
                <a href="login.html">Sign In</a><a href="/main">Return to Main Page</a>
            <a href="index.html">Return to index page.</a>
            </form>
            <!-- <a href="login.html">Sign In</a> -->
            <!-- <br><a href="/main">Return to Main Page</a> -->
        </div>
    </div>
</div>
</body>
</html>