<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>COMP5347 Assignment 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    <script src="/js/user.js" defer></script>
    <link rel="stylesheet" href="/css/user.css" type="text/css"/>
</head>

<body>
<div id="userPage">

    <nav id="navigation">

        <h4 style="cursor:pointer" @click="showProfile">Edit profile</h4>
        <h4 style="cursor:pointer" @click="showPassword">Change password</h4>
        <h4 style="cursor:pointer" @click="showList">Manage listings</h4>

        <div class="box_Right">

            <input class="button button2" type="button" value="Sign out" @click="signOut"/>

            <form method="GET" action="goBack">
                <input class="button button1" type="submit" value="Back to Main Page"/>
            </form>
        </div>

    </nav>

    <div id="container">
        <div v-if="tabProfile">
            <section class="tab">
                <form method="POST" action="updateProfile">

                    <p v-if="showNotice">{{ noticeProfile }}</p>

                    <p>First name:
                        <input type="text" v-model="firstname"/>
                    </p>
                    <p>Last name:
                        <input type="text" v-model="lastname"/>
                    </p>

                    <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" v-model="email"/>
                    </p>

                    <div v-if="updateClicked">
                        <p>Password:&nbsp;
                            <input type="password" v-model="verifiedPassword"/>
                        </p>
                    </div>


                    <input class="button button3" type="button" value="Update profile" @click="updateProfile"/>

                    <br>
                </form>
            </section>
        </div>

        <div v-if="tabPassword">
            <section class="tab">

                <p v-if="pwdChanged">{{ noticePwdChange }}</p>

                <p>Current password:
                    <input type="password" name="C_password" v-model="currentPwd"/>
                </p>

                <p>New password&nbsp;&nbsp;&nbsp;&nbsp;:
                    <input type="password" name="N_password" v-model="newPwd"/>
                </p>

                <input class="button button3" type="button" value="Confirm" @click="checkPassword"/>
                <br>

            </section>
        </div>

        <div v-if="tabList">
            <section class="tab">
                <p v-if="!userListing">You haven't create your listing yet</p>

                <table v-else id='list_table'>
                    <thead>
                    <tr>
                        <th>Enabled</th>
                        <th></th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Brand</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>

                    <tr v-for="(list, index) in userListing">

                        <td v-if="list.disabled==''"><input type="checkbox" @change="check($event, index)"/></td>
                        <td v-else><input type="checkbox" @change="check($event, index)" checked="checked"/></td>

                        <td><img v-bind:src="list.image"/></td>
                        <td>{{ list.title }}</td>
                        <td>{{ list.price }}</td>
                        <td>{{ list.brand }}</td>
                        <td>{{ list.stock }}</td>
                        <td><input type="button" value="Remove" @click="removePhone($event, index)"/></td>
                    </tr>
                    </thead>
                </table>

                <br>
                <input class="button button3" type="button" value="Add new listing" v-if="!addClicked" @click="addListing"/>
                <div v-else>
                    <p>Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" v-model="addTitle"/>
                    </p>
                    <p>Brand:&nbsp;&nbsp;&nbsp;&nbsp;
                        <select name="Brand" v-model="addBrand">
                            <option>Apple</option>
                            <option>BlackBerry</option>
                            <option>HTC</option>
                            <option>Huawei</option>
                            <option>LG</option>
                            <option>Motorola</option>
                            <option>Nokia</option>
                            <option>Samsung</option>
                            <option>Sony</option>
                        </select>
                    </p>
                    <p>Quantity:
                        <input type="text" v-model="addQuantity"/>
                    </p>
                    <p>Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" v-model="addPrice"/>
                    </p>
                    <br>
                    <input class="button button1" type="button" value="Cancel" @click="cancelAddList"/>
                    <input class="button button3" type="button" value="Confirm" @click="confirmAddList"/>
                </div>

            </section>
        </div>

    </div>
</div>
<link rel="stylesheet" href="../css/checkout.css"/>

</body>
</html>