nav#navigation {
    background:#606266;
    padding: 16px;
}
h4 {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    display : inline;
    padding: 30px;
}
div#container {
    background-color: #EBF4FB ;
    padding: 5px;

}
div.box_Right{
    float:right;
    padding-right: 20px;
    padding-top: 2px;
}

form{
    margin:0px;
    display: inline
}
section.tab {
    padding: 25px;
}

/* -- button -- */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 24px 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0 2px 0 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 32px;
}

/* -- plain button -- */
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #ECEEF1;
    border-radius: 4px;
}

.button1:hover {
    background-color: white;
    color: #409EFF;
    border: 2px solid #409EFF;
    border-radius: 4px;
}

/* -- primary button -- */
.button2 {
    background-color: #ECF5FF;
    color: black;
    border: 2px solid #D6EAFF;
    border-radius: 4px;
}

.button2:hover {
    background-color: #409EFF;
    color: white;
    border: 2px solid #409EFF;
    border-radius: 4px;
}

/* -- primary button dark -- */
.button3 {
    background-color: #409EFF;
    color: white;
    border: 2px solid #409EFF;
    border-radius: 4px;
}

.button3:hover {
    background-color: #66B1FF;
    color: white;
    border: 2px solid #66B1FF;
    border-radius: 4px;
}

/* -- input -- */
input[type=text], select {
    width: 320px;
    padding: 8px 16px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 320px;
    padding: 8px 16px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

